body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Black background color */
    color: #ffd700; /* Gold text color */
}

.header-container {
    background-color: #ffd700;
    color: #000000;
    padding: 40;
    border-radius: 50;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10cm;
    margin-right: 10cm;
}

h1 {
    font-size: 36px; /* Adjust font size */
    margin: 0; /* Remove default margin */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000; /* Black container background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3); /* Gold shadow color */
}

h2 {
    color: #ffd700; /* Gold heading color */
}

.command {
    margin-bottom: 20px;
}

p {
    color: #ffffff; /* White paragraph color */
}

code {
    background-color: #ffd700; /* Gold code background color */
    padding: 2px 5px;
    border-radius: 3px;
    color: #000000; /* Black code color */
}

/* Styling for portfolio */
.portfolio {
    background-color: #000000; /* Black dark blue background color */
    color: #ffd700; /* Gold text color */
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.portfolio h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    border-top: 2px solid #ffd700; /* Gold border at the top */
}

.portfolio p {
    text-align: justify;
}



